{% extends 'webapp/base.html' %}

{% block content %}

{% load staticfiles %}

<!--
<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>名前</th>
    </tr>
  </thead>
  <tbody>
{% for employee in employee_list %}
<tr>
  <td><a href="{% url 'webapp:detail' employee.pk %}">{{employee.id}}</a></td>
  <td>{{employee.name}}</td>
</tr>
{% endfor %}
</tbody>
</table>
-->

<div class="container">
    <div class="row o-3column">
        {% for employee in employee_list %}
        <div class="col-md-4">
          <div class="py-5">
            <div class="box">
                <div class="card">
                    <div class="card-body">
                      <tr>
                        <a href="{% url 'webapp:detail' employee.pk %}"><h5 class="card-title"><td>{{employee.id}}</td></a></h5></a>
                        <p class="card-text"><td>{{employee.name}}</td></p>
                      </tr>
                    </div>
                </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- 前の部分へ -->
{% if page_obj.has_previous %}
<a href="?page={{page_obj.previous_page_number}}">前へ</a>
{% endif %}

<!-- 次へ部分へ -->
{% if page_obj.has_next %}
<a href="?page={{page_obj.next_page_number}}">次へ</a>
{% endif %}

{% endblock %}
