{% extends 'webapp/base.html' %}

{% block content %}

{% load staticfiles %}

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <img class="card-img-top" src="/static/image/profile/{{employee.employee_id}}/1.jpg" class="mw-100" alt="">
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row" class="py-1">
    <div class="col text-center">
      <h1>{{employee.name}}</h1>
    </div>
  </div>
  <div class="row" class="py-1">
    <div class="col-md-1"></div>
    <h2>{{employee.department}}</h2>
    <div class="col-md-1"></div>
  </div>
  <div class="row" class="py-1">
    <div class="col-md-1"></div>
    <p>{{employee.introduction.1}}</p>
    <div class="col-md-1"></div>
  </div>
  <div class="row" class="py-1">
    <div class="col-md-1"></div>
    <a href="{{employee.mail}}"><p class="card-text"><small class="text-muted">{{employee.mail}}</small></p></a>
    <div class="col-md-1"></div>
  </div>
  <div class="row" class="py-1">
    <div class="col-md-1"></div>
    <h2>タグ</h2>
    <div class="col-md-1"></div>
  </div>
  <div class="row" class="py-1">
    <div class="col-md-1"></div>
    {% if employee.introduction_1 %}
    <p>{{employee.tag}}</p>
    {% endif %}
    <div class="col-md-1"></div>
  </div>
  <div class="row" class="py-1">
    <div class="col-md-1"></div>
    {% if employee.introduction_1 %}
    <h2>社歴</h2>
    <div class="col-md-1"></div>
  </div>
  <div class="row" class="py-1">
    <div class="col-md-1"></div>
    <p>{{employee.introduction_1 | linebreaksbr | linebreaks}}</p>
    {% endif %}
    <div class="col-md-1"></div>
  </div>
  <div class="row" class="py-1">
    <div class="col-md-1"></div>
    {% if employee.introduction_2 %}
    <h2>アピール</h2>
    <div class="col-md-1"></div>
  </div>
  <div class="row" class="py-1">
    <div class="col-md-1"></div>
    <p>{{employee.introduction_2 | linebreaksbr | linebreaks}}</p>
    {% endif %}
    <div class="col-md-1"></div>
  </div>
  <div class="row" class="py-1">
    <div class="col-md-1"></div>
    {% if employee.introduction_3 %}
    <h2>目標</h2>
    <div class="col-md-1"></div>
  </div>
  <div class="row" class="py-1">
    <div class="col-md-1"></div>
    <p>{{employee.introduction_3 | linebreaksbr | linebreaks}}</p>
    {% endif %}
    <div class="col-md-1"></div>
  </div>
</div>

<p class="text-center"><a href="{% url 'webapp:index'%}"><button type="button" class="btn btn-primary">TOPへ</button></a></p>

{% endblock %}
